body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://assets.awwwards.com/awards/images/2015/04/pattern.jpg') !important; 
}

.formStyle {
  background-color: white;
}

.alert {
  margin: 30px;
}

.card{
  border-radius: 15px !important;
}

.ql-editor{
  min-height: 500px !important;
  max-height: 800px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}

